################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bychevskaya/FileContentIndex
/.vs/bychevskaya/v17
/.vs
